.landing-page {
  background-image: url('~@/assets/images/background-1.png');
  background-position: top -100px right;
  background-repeat: no-repeat;
  background-size: 987px;

  @media all and (max-width: $mobile-width){
    background-position: top right -376px;
    background-size: 490px;
  }
}