html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  font-size: 14px;
  outline: 0;
  box-sizing: border-box;
}

.page-container {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}


p, span {
  font-size: 16px;
  color: #8799ab;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  @media all and (max-width: $mobile-width){
    font-size: 30px;
    line-height: 35px;
  }
}

h2 {
  @media all and (max-width: $mobile-width){
    font-size: 28px;
    line-height: 33px;
  }

  color: #202030;
  font-weight: 700;
  font-size: 30px;
  max-width: 550px;
  line-height: 37px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #202030;
}

h4 {
  color: #083d43;
  font-weight: 700;
  font-size: 16px;
}



// Buttons
.button-1 {
  background-color: #04c699;
  padding: 23px;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 250px;
  display: inline-block;
  cursor: pointer;
  //margin-left: 70px;
  &.disable{
    cursor: not-allowed;
    color: #8799ab;
  }
}

.button-2 {
  background-color: #04c699;
  padding: 23px 73px;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}


