* * * * * root bash -c 'cd /api && npm run eventsProd'
* * * * * root bash -c 'cd /api && npm run getExchangeRatesProd'
# Don't remove the empty line at the end of this file. It is required to run the cron job